services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ship
    volumes:
      - ship-postgres-data:/var/lib/postgresql/data

volumes:
  ship-postgres-data:
