@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #0f172a;
  color: #f8fafc;
  font-feature-settings: "cv11", "ss01";
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
